.opstine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
  
    .opstina {
      position: relative; 
      text-align: center; 
  
      img {
        width: 365px; 
        height: 260px; 
      }
  
      h2 {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white;
        width: 100%; 
      }
    }
  }