.filter-form {
  display: flex;
  gap: 10px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .polje-pretrage {
    flex: 1;
    padding: 10px;
    margin: 2px;
    min-width: 9%;
    height: 2%;
    border-radius: 4px;
  }

  button {
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .filter-form {
    flex-direction: column;
  }

  .polje-pretrage,
  button {
    width: 100%;
  }
}
