.filter-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 8%;

    .polje-pretrage {
      flex: 1; // Allow flex items to grow and shrink
      min-width: 100%; // Set a minimum width for each item
      padding: 10px;
      margin: 2px;
    }

    // Set a flex basis for inputs and button to ensure they stay on one line
    .polje-pretrage {
      flex-basis: 10%; // Adjust this percentage based on your needs
    }

    button {
      flex-basis: 10%; // Adjust this percentage based on your needs
      cursor: pointer;
      white-space: nowrap; // Prevent text inside button from wrapping
    }
}
