.opisObjekta {
    min-height: 100px; /* Default starting size */
    min-width: 100%;
    overflow: hidden; /* Prevent scrollbar appearance */
    resize: none; /* Optional: if you don't want users to manually resize it */
  }